# Python Virtual Environments
venv/
.venv/
env/
**/venv/

# Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Ultralytics & Model Runs
runs/
**/runs/
* (1).pt
*.pt.zip

# macOS
.DS_Store
